<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1" />

    <!-- For favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="DeLorean Energy"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png" />

    <!-- Link to remote font -->
    <link rel="stylesheet" href="https://use.typekit.net/ahh6uys.css">

    <link href="sass/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <!-- All Bootstrap styles and icons are embedded in these stylesheets -->
    <link href="sass/style-<%= user_mode %>.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Import jQuery, PopperJS (For bootstrap effects), Bootstrap's own JS library, jQuery UI (local file -- not remote), and AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Import Mapbox API -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <!-- Import d3JS files -->
    <script src="https://d3js.org/d3.v6.min.js" defer></script>
    <script src="https://d3js.org/d3-scale.v3.min.js" defer></script>
    <script src="https://d3js.org/d3-axis.v1.min.js" defer></script>

    <!-- Import js-Cookie files -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"></script>

    <!-- Our custom scripts. App = generic functionality; fleet-capacity = calculations; graphs = D3JS; dynamics = AJAX -->
    <script src="scripts/app.js" defer></script>
    <script src="scripts/fleet-capacity.js" defer></script>
    <script src="scripts/graphs.js" defer></script>
    <script src="scripts/project.js" defer></script>
<!--    <script src="scripts/battery-degradation.js" defer></script>-->

    <title>Calculator Project - DeLorean Energy</title>
</head>
<body>
<!-- Main Navigation -->
<!--================================================================================================================-->
<nav class="navbar navbar-expand-md navbar-<%= user_mode %>">
    <a class="screen-reader-only" href="#article">Skip to Content</a>
    <a class="navbar-brand" href="/"><img id="navbar-brand" class="navbar-brand-img" src="images/logo_lg_<%= user_mode %>.png" alt="DeLorean Energy"/></a>

    <button class="navbar-toggler align-item" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="screen-reader-only">Toggle navigation</span>
        <span id="b1" class="bar"></span>
        <span id="b2" class="bar"></span>
        <span id="b3" class="bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link selected-nav" href="#">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <div class="style-switch">
            <% if(user_mode !== "dark") { %>
                <button class="btn selected" onclick="switchToLight(this);"><i class="bi bi-sun"></i></button>
                <button class="btn" onclick="switchToDark(this);"><i class="bi bi-moon"></i></button>
            <% } else { %>
                <button class="btn" onclick="switchToLight(this);"><i class="bi bi-sun"></i></button>
                <button class="btn selected" onclick="switchToDark(this);"><i class="bi bi-moon"></i></button>
            <% } %>
        </div>
    </div>
</nav>
<!-- Content (sr-only link jumps here) -->
<!--=================================================================================================================-->
<main id="article" class="container-fluid content">

    <!-- Buttons to decide whether client wants Individual or Organizer View -->
    <!--==================================================================================================-->
    <div class="row d-flex justify-content-center text-center">
        <section class="view-toggle">
            <h1 class="text-center">Is Vehicle-to-Grid (V2G) Right For You?</h1>
            <% if(user_view === "individual") { %>
                <button id="ind-btn" class="btn selected" onclick="switchToIndiv()">Individual</button>
                <button id="org-btn" class="btn" onclick="switchToOrg()">Organizer</button>
            <% } else { %>
                <button id="ind-btn" class="btn" onclick="switchToIndiv()">Individual</button>
                <button id="org-btn" class="btn selected" onclick="switchToOrg()">Organizer</button>
            <% } %>
        </section>
    </div>
    <!-- The actual form -->
    <!--=============================================================================================================-->
    <div class="row main-form">
        <!-- Left Column -->
        <!--=========================================================================================================-->
        <div class="grid-item col-md-6 col-lg-4">
            <div class="form-group">
                <label>Vehicles in Fleet</label>
                <div id="cars-selected">
<!--                    <div id="car-sel-i" class="car-select">-->
<!--                        <div class="car-labels-L">-->
<!--                            <h5>[Car Make] [Car Model]</h5>-->
<!--                            <button class="btn btn-danger">Remove</button>-->
<!--                        </div>-->
<!--                        <div class="car-sliders">-->
<!--                            <div class="d-flex justify-content-center">-->
<!--                                <input type="number" id="car-sel-txt-i" class="form-control input-text" value="100" min="0" max="100" oninput="bindInputs($(this), $('#car-sel-rng-i'))" />-->
<!--                            </div>-->
<!--                            <input type="range" id="car-sel-rng-i" class="form-control slider" value="100" min="0" max="100" oninput="bindInputs($(this), $('#car-sel-txt-i'))" />-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>

            <div id="mc" class="form-group">
                <!-- NodeJS populates all the options -->
                <label for="car-make">Add Vehicle</label>

                <!-- info icon and loading spinner -->
                <a href="/user-guide" class="icon-info"></a>
<!--                <button id="vehicle-find-btn" class="btn btn-action" onclick="findCar()"><i class="bi bi-arrow-counterclockwise"></i></button>-->
                <span id="car-spinner" class="spinner-wrapper"><div class="spinner"></div><em>Loading</em></span>

                <select id="car-make" class="form-select" name="car-make" oninput="populateCars()">
                    <option value="default" selected disabled hidden>--Select Make--</option>
                    <% makeList.forEach(make => { %>
                    <option value="<%= make %>"><%= make %></option>
                    <% }); %>
                </select>

                <!-- JQuery populates all the choices -->
                <div id="car-list" class="multi-choice">
                    <!-- Boilerplate option>
                    <div id="[car id]" class="option">
                        <img src="images/[car id].png" alt="image" class="img-thumbnail" />
                        <div>
                            <h4>[car make] [car model]</h4>
                            <h6>Lorem</h6>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>

        <!-- Center Column  -->
        <!--=========================================================================================================-->
        <div class="grid-item col-md-6 col-lg-4">

            <!-- Map (Range, 1000-X) -->
            <!--=========================================================================================-->
            <!-- The ID is there because the range of the slider will be generated dynamically -->
            <div class="form-group">
                <label>ZIP Code</label>
                <a href="/user-guide" class="icon-info"></a>
                <br>
                <div class="d-flex justify-content-center">
                    <input type="text" name="zip" id="zip" class="form-control input-text" value="95050" placeholder="Zip Code" />
                </div>
            </div>

            <!-- Minimum State of Charge (Range, 0-100) -->
            <!--==========================================================================================-->
            <div class="form-group">
                <label for="msocSlider">Minimum State of Charge</label>
                <input type="range" name="msoc" id="msocSlider" class="form-control slider" min="0" max="100" oninput="bindInputs($(this), $('#msocText'))" />
                <span class="align-left">0&#37;</span><span class="align-right">100&#37;</span>
                <br><br>
                <div class="d-flex justify-content-center">
                    <input type="number" name="msoc" id="msocText" class="form-control input-text" value="50" min="0" max="100" oninput="bindInputs($(this), $('#msocSlider'))" />
                </div>
            </div>

            <!-- Hours Charging (Range, 0-24) (only show in individual view) -->
            <!--===========================================================================================
            <div id="hours-panel" class="form-group d-none">
                <label for="slider">Hours Charging</label>
                <a href="/user-guide" class="icon-info"></a>
                <div id="hours-group">
                    <input id="hours-1" class="form-control input-text" type="time" /> -
                    <input id="hours-2" class="form-control input-text" type="time" />
                    <div class="hours-wrapper">
                        <div id="slider"></div>
                    </div>
                </div>
            </div-->

            <!-- Opt-in Percentage (Range, 0-100) (only show in organization view) -->
            <!--==========================================================================================-->
            <div id="optin-panel" class="form-group">
                <label for="optinSlider">Opt-In Percentage</label>
                <input type="range" name="optin" id="optinSlider" class="form-control slider" min="0" max="100" oninput="bindInputs($(this), $('#optinText'))" />
                <span class="align-left">0&#37;</span><span class="align-right">100&#37;</span>
                <br><br>
                <div class="d-flex justify-content-center">
                    <input type="number" name="optin" id="optinText" class="form-control input-text" value="50" min="0" max="100" oninput="bindInputs($(this), $('#optinSlider'))" />
                </div>
            </div>
        </div>

        <!-- Right Column (Mostly graphs &c. -->
        <!--=========================================================================================================-->
        <div class="grid-item col-md-8 offset-md-2 col-lg-4 offset-lg-0">

            <!-- Return on Investment (Text, USD) -->
            <!--============================================================================================-->
            <div class="form-group form-result">
                <label>ROI</label>
                <h3 class="text-center">$<span id="indiv-roi" class="d-none"></span><span id="flt-roi"></span></h3>
            </div>

            <!-- Stored energy (kWh) -->
            <!--=============================================================================================-->
            <div class="form-group form-result" id="kwh-panel">
                <label>Max Energy Stored in Fleet</label>
                <h3 id="fleet-capacity" class="text-center">kWh</h3>
            </div>

            <!-- Peak Shaving (Graph) -->
            <!--=============================================================================================-->
            <div class="form-group form-result">
                <label>Money Saved per Month</label>
                <span id="graph-spinner" class="spinner-wrapper"><div class="spinner"></div><em>Loading</em></span>
                <div id="app-ps" class="app">
                    <div id="chart-ps" class="chart">
                        <svg id="svg-ps"></svg>
                    </div>
                </div>
            </div>

            <!-- Battery Degradation (Graph) -->
            <!--============================================================================================-->
            <div class="form-group form-result d-none">
                <label>Fleet Availability / Time</label>
                <a href="/user-guide" class="icon-info"></a>
                <br>
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="graphType" class="form-check-label" checked="" />
                    <label class="btn small-label" for="graphType">Future Graph: </label>
                </div>
                <div id="app-fa" class="app">
                    <div id="chart-fa" class="chart">
                        <svg id="svg-fa"></svg>
                    </div>
                </div>
            </div>

            <!-- Cars Required (Graph) -->
            <!--===========================================================================================-->
            <!--div class="form-group form-result">
                <label>Cars Required</label>
                <img class="img-fluid" src="http://picsum.photos/500" alt="filler" />
            </div-->

            <!-- Peak Shaving (Graph) NOTE: This will be displayed on sizes: SM, XS -->
            <!--div class="form-group form-result d-block d-lg-none d-xl-none">
                <label>Peak Shaving</label>
                <img class="img-fluid" src="http://picsum.photos/500" alt="filler" />
            </div-->

        </div>

    </div>

</main>
<!-- Footer -->
<!--=================================================================================================================-->
<footer>
    <% const year = new Date().getFullYear(); %>
    <address>Copyright &#169; <%= year %> Project DeLorean.</address>
    <address>EPIC Labs</address>
    <address>Santa Clara University</address>
</footer>

</body>
</html>